@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --text-color: rgb(131, 130, 130);
  --red-faded: rgba(227, 72, 72, 0.5);
  --red: rgb(227, 72, 72);
  --blue-faded: rgba(76, 76, 244, 0.5);
  --blue: rgb(76, 76, 244);
  --black-faded: rgba(0, 0, 0, 0.8);
  --black: rgb(0, 0, 0);
  --green-faded: rgba(67, 135, 47, 0.5);
  --green: rgb(67, 135, 47);
  --pink-faded: rgba(207, 61, 124, 0.5);
  --pink: rgb(207, 61, 124);
}
body {
  font-family: "Quicksand", sans-serif;
}

/*========== Main ==========*/

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.product-card {
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(140, 134, 134, 0.2);
  min-width: 350px;
}

/*========== Header/Img ==========*/

.header-container {
  position: relative;
  border-radius: 15px 15px 0 0;
}

.product-img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  box-shadow: inset 0 0 3rem 8rem #000000;
}

.gradient-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, white);
  z-index: 2;
}
.photo-credit {
  position: absolute;
  margin-bottom: 0;
  font-size: 0.8rem;
  bottom: 1rem;
  left: 0.5rem;
  z-index: 2;
  color: rgb(85, 85, 85);
}
.special-label {
  margin-top: 0;
  font-weight: 600;
  color: var(--text-color);
  z-index: 1;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: rgb(255, 253, 253, 0.6);
}

/*========== Product Info ==========*/

.product-info-container {
  padding: 0 1rem 1rem 1rem;
}

.description {
  color: var(--text-color);
}

/*========== Product Variants ==========*/

.addtocart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  grid-template-areas:
    "price price"
    "size quantity"
    "color-wrapper color-wrapper"
    "btn btn";
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  padding: 1rem;
}

.label {
  color: var(--text-color);
}

/*===== Price =====*/

.price {
  margin: 0 0 1rem;
  background-color: white;
  height: 1rem;
  padding: 0.5rem 0;
  border-radius: 5px;
  text-align: center;
  grid-area: price;
}

/*===== Wrappers (Size, Quantity, Color) =====*/

.size-wrapper {
  grid-area: size;
}
.quantity-wrapper {
  grid-area: quantity;
}

.color-wrapper {
  grid-area: color-wrapper;
}

.size-wrapper,
.quantity-wrapper,
.color-wrapper {
  margin-bottom: 1rem;
  align-self: center;
}

/*===== Selects (Size, Quantity) =====*/

.size-select,
.quantity-select {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: solid rgb(240, 238, 238);
  border-radius: 7px;
}

/*===== Color Picker Buttons =====*/

.color-input {
  display: none;
}

.color-label span {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.blue {
  background-color: var(--blue-faded);
}
.red {
  background-color: var(--red-faded);
}

.black {
  background-color: var(--black-faded);
}

.green-black {
  background: linear-gradient(
    90deg,
    var(--green-faded) 50%,
    var(--black-faded) 50%
  );
}

.blue-black {
  background: linear-gradient(
    90deg,
    var(--blue-faded) 50%,
    var(--black-faded) 50%
  );
}
.pink-black {
  background: linear-gradient(
    90deg,
    var(--pink-faded) 50%,
    var(--black-faded) 50%
  );
}

.red-white {
  background: linear-gradient(90deg, var(--red-faded) 50%, white 50%);
}

.black-white {
  background: linear-gradient(90deg, var(--black-faded) 50%, white 50%);
}

.color-input:checked + .color-label .blue {
  background-color: var(--blue);
}
.color-input:checked + .color-label .red {
  background-color: var(--red);
}
.color-input:checked + .color-label .black {
  background-color: var(--black);
}

.color-input:checked + .color-label .green-black {
  background: linear-gradient(90deg, var(--green) 50%, black 50%);
}
.color-input:checked + .color-label .blue-black {
  background: linear-gradient(90deg, var(--blue) 50%, black 50%);
}
.color-input:checked + .color-label .pink-black {
  background: linear-gradient(90deg, var(--pink) 50%, black 50%);
}
.color-input:checked + .color-label .red-white {
  background: linear-gradient(90deg, var(--red) 50%, white 50%);
}

.color-input:checked + .color-label .black-white {
  background: linear-gradient(90deg, var(--black) 50%, white 50%);
}

/*===== Add to Cart Button =====*/

.addtocart-btn {
  border: none;
  background-color: rgb(79, 79, 204);
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  grid-area: btn;
}
/*===== MEDIA Queries =====*/

@media screen and (max-width: 1200px) {
  .main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .product-card {
    max-width: 420px;
  }
}
